/* add custom likebox styles here, some examples below */

/*
.connect_text_wrapper {
    color: #AAAAAA !important;
}

.fan_box .full_widget {
    background: transparent;
    border: none;
    color: #CCCCCC;
}

.profileimage {
    display: none;
}

.connect_widget .like_button_no_like .piece,
.connect_widget .like_button_no_like {
    background-color: #AAAAAA;
    border-color: #AAAAAA;
}

.connect_widget a.like_button_no_like:hover .piece,
.connect_widget a.like_button_no_like:hover {
    background-color: #ECEEF5;
    border-color: #ECEEF5;
}

.connect_widget .like_button_no_like .corner {
    background-image: none !important;
    background-color: #AAAAAA !important;
}

.connect_widget a.like_button_no_like:hover .corner {
    background-image: none !important;
    background-color: #ECEEF5 !important;
}
*/