#********************************************************************************************************
#   (c) 2004-2006 by MulchProductions, www.mulchprod.de                                                 *
#   (c) 2007-2008 by Kajona, www.kajona.de                                                              *
#       Published under the GNU LGPL v2.1, see /system/licence_lgpl.txt                                 *
#-------------------------------------------------------------------------------------------------------*
# 																										*
# 	.htaccess     																						*
#   Used to define a few global apache-settings                                                         *
#																										*
#-------------------------------------------------------------------------------------------------------*
#	$Id$                                                   *
#*******************************************************************************************************/

#if you want mod-rewrite to rewrite urls, turn RewriteEngine on. Enable mod_rewrite in the system-settings, too!
#uncomment the following line to use mod-rewrite
#RewriteEngine on

########################################ADMIN REWRITING##################################################

#source: /admin_module.action.systemid
#RewriteRule ^admin_([a-z_]+)\.([a-zA-Z]*)\.([0-9a-z]*)\.html index.php?admin=1&module=$1&action=$2&systemid=$3


########################################PORTAL REWRITING#################################################

# source: page.seo.action.systemid.language
#uncomment the following line to use mod-rewrite
#RewriteRule ^([0-9a-z-_]+)\.(.*)\.([a-zA-Z]*)\.([0-9a-z]*)\.([a-z]*)\.html  index.php?page=$1&action=$3&systemid=$4&language=$5

# source: page.seo.action.systemid
#uncomment the following line to use mod-rewrite
#RewriteRule ^([0-9a-z-_]+)\.(.*)\.([a-zA-Z]*)\.([0-9a-z]*)\.html  index.php?page=$1&action=$3&systemid=$4

# source: page.seo.action
#uncomment the following line to use mod-rewrite
#RewriteRule ^([0-9a-z-_]+)\.(.*)\.([a-zA-Z]*)\.html  index.php?page=$1&action=$3

#source: page.language
#RewriteRule ^([0-9a-z-_]+)\.([a-z]{2,2})\.html  index.php?page=$1&language=$2

# source: page.seo
#uncomment the following line to use mod-rewrite
#RewriteRule ^([0-9a-z-_]+)\.(.*)\.html  index.php?page=$1

# source: page
#uncomment the following line to use mod-rewrite
#RewriteRule ^([0-9a-z-_]+)\.html  index.php?page=$1


########################################RSS REWRITING####################################################
#rewrite news-feeds
#uncomment the following line to use mod-rewrite
#RewriteRule ^([0-9a-z-_]+)\.rss  xml.php?module=news&action=newsFeed&feedTitle=$1



#The following directives can be used to configure php directly
#Enable them with care and just in case of problems

#php_value post_max_size 16M
#php_value upload_max_filesize 16M
#php_value memory_limit 12M

#If your webserver attaches the phpsessid to links generated by the system, uncomment the following directive
#php_value session.use_trans_sid 0


#Uncomment these lines to activate gzip compression for all output including js, css and xml (recommended!)
#please note that there's no need for enabling gzip-compression in Kajona's system settings then

#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript
# Netscape 4.x and IE 5.5/6.0 sometimes don't like compressed js and css files
#BrowserMatch ^Mozilla/4 gzip-only-text/html
# Sometimes Opera pretends to be IE with "Mozilla/4.0"
#BrowserMatch \bOpera !gzip-only-text/html
# luckily IE 7 handles gzipped files correctly
#BrowserMatch \bMSIE\s7 !gzip-only-text/html