#********************************************************************************************************
#   (c) 2004-2006 by MulchProductions, www.mulchprod.de                                                 *
#   (c) 2007-2009 by Kajona, www.kajona.de                                                              *
#       Published under the GNU LGPL v2.1, see /system/licence_lgpl.txt                                 *
#-------------------------------------------------------------------------------------------------------*
#	$Id$                                                   *
#*******************************************************************************************************/

######################################## GENERAL URL REWRITING ############################################

# if you want to use mod_rewrite for nice-urls, set RewriteEngine on and enable all following RewriteRules.
# Please note to enable URL-Rewriting in Kajona's system-settings, too!
#RewriteEngine on

# enable only in case of errors
#RewriteBase /

# skip all requests not ending with .html or .rss - they don't have any rewrite rules (little performance tweak)
#RewriteRule !\.(html|rss)$ - [L]

# enable these two lines and insert your domain to prevent duplicate content in search engines (SEO)
# but don't enable on your local machine - otherwise you'll always be redirected to the live server
#RewriteCond %{HTTP_HOST} !^www.yourdomain.com$ [NC]
#RewriteRule ^(.*)$ http://www.yourdomain.com/$1 [L,R=301]

######################################## ADMIN REWRITING ##################################################

# source: /admin/module.action.systemid
#RewriteRule !^admin/  - [S=4]
#RewriteRule ^admin/index.html index.php?admin=1
#RewriteRule ^admin/([a-z\_]+)/([a-zA-Z]*)/([0-9a-z]*)\.html  index.php?admin=1&module=$1&action=$2&systemid=$3 [QSA,L]
#RewriteRule ^admin/([a-z\_]+)/([a-zA-Z]*)\.html  index.php?admin=1&module=$1&action=$2 [QSA,L]
#RewriteRule ^admin/([a-z\_]+)\.html  index.php?admin=1&module=$1 [QSA,L]

######################################## PORTAL REWRITING #################################################

# source: page.seo.action.systemid.language
#RewriteRule ^([0-9a-z\_\-]+)\.(.*)\.([a-zA-Z]*)\.([0-9a-z]*)\.([a-z]*)\.html  index.php?page=$1&action=$3&systemid=$4&language=$5 [QSA,L]

# source: page.seo.action.systemid
#RewriteRule ^([0-9a-z\_\-]+)\.(.*)\.([a-zA-Z]*)\.([0-9a-z]*)\.html  index.php?page=$1&action=$3&systemid=$4 [QSA,L]

# source: page.seo.action
#RewriteRule ^([0-9a-z\_\-]+)\.(.*)\.([a-zA-Z]*)\.html  index.php?page=$1&action=$3 [QSA,L]

# source: page.language
#RewriteRule ^([0-9a-z\_\-]+)\.([a-z]{2,2})\.html  index.php?page=$1&language=$2 [QSA,L]

# source: page.seo
#RewriteRule ^([0-9a-z\_\-]+)\.(.*)\.html  index.php?page=$1 [QSA,L]

# source: page
#RewriteRule ^([0-9a-z\_\-]+)\.html  index.php?page=$1 [QSA,L]

# rss-feeds
#RewriteRule ^([0-9a-z\_\-]+)\.rss  xml.php?module=news&action=newsFeed&feedTitle=$1 [L]



######################################## PHP ##############################################################

# The following directives can be used to configure php directly,
# enable them with care and just in case of problems
#php_value post_max_size 16M
#php_value upload_max_filesize 16M
#php_value memory_limit 32M

# If your webserver attaches the PHPSESSID to links generated by the system, enable the following directive
#php_value session.use_trans_sid 0



######################################## SECURITY/DEBUG ###################################################

# recommended: enable the following lines to prevent displaying php errors in browser and instead log php errors into file
#php_value display_errors Off
#php_value log_errors On
#php_value error_log system/debug/php.log



######################################## PERFORMANCE ######################################################

# recommended: enable these lines to activate gzip compression for all output including js, css and xml
# please note that there's no need for enabling gzip-compression in Kajona's system settings then

#AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript
# Netscape 4.x and IE 5.5/6.0 sometimes don't like compressed js and css files
#BrowserMatch ^Mozilla/4 gzip-only-text/html
# Sometimes Opera pretends to be IE with "Mozilla/4.0"
#BrowserMatch \bOpera !gzip-only-text/html
# luckily IE >=7 handles gzipped files correctly
#BrowserMatch \bMSIE\s[789] !gzip-only-text/html

# only enable when you know what you're doing: set browser caching of static files to 1 week
#<FilesMatch "\.(js|css|jpg|jpeg|png|gif|ico|swf)$">
#    <IfModule headers_module>
#        Header set Cache-Control "max-age=604800, public"
#    </IfModule>
#    <IfModule expires_module>
#        ExpiresActive On
#        ExpiresDefault "access plus 1 week"
#    </IfModule>
#</FilesMatch>