#********************************************************************************************************
#	(c) by MulchProductions, www.mulchprod.de															*
#-------------------------------------------------------------------------------------------------------*
# 																										*
# 	.htaccess     																						*
#   keep out the evil                                                         *
#																										*
#-------------------------------------------------------------------------------------------------------*
#	$Id$                                                    *
#*******************************************************************************************************/

Deny from all