#********************************************************************************************************
#   (c) 2004-2006 by MulchProductions, www.mulchprod.de                                                 *
#   (c) 2007-2008 by Kajona, www.kajona.de                                                              *
#       Published under the GNU LGPL v2.1, see /system/licence_lgpl.txt                                 *
#-------------------------------------------------------------------------------------------------------*
# 																										*
# 	.htaccess     																						*
#   keep out the evil                                                         *
#																										*
#-------------------------------------------------------------------------------------------------------*
#	$Id: .htaccess 1972 2008-03-16 21:17:36Z jschroeter $                                                    *
#*******************************************************************************************************/

Allow from all

<FilesMatch "\.php$" >
  Allow from all
</FilesMatch>