#********************************************************************************************************
#   (c) 2007-2014 by Kajona, www.kajona.de                                                              *
#       Published under the GNU LGPL v2.1, see /system/licence_lgpl.txt                                 *
#-------------------------------------------------------------------------------------------------------*
#	$Id$                                                    *
#*******************************************************************************************************/

Allow from all