#********************************************************************************************************
#   (c) 2004-2006 by MulchProductions, www.mulchprod.de                                                 *
#   (c) 2007-2008 by Kajona, www.kajona.de                                                              *
#       Published under the GNU LGPL v2.1, see /system/licence_lgpl.txt                                 *
#-------------------------------------------------------------------------------------------------------*
#	$Id: .htaccess 2296 2008-11-08 21:06:50Z sidler $                                                    *
#*******************************************************************************************************/

Deny from all