#********************************************************************************************************
#   (c) 2004-2006 by MulchProductions, www.mulchprod.de                                                 *
#   (c) 2007-2012 by Kajona, www.kajona.de                                                              *
#       Published under the GNU LGPL v2.1, see /system/licence_lgpl.txt                                 *
#-------------------------------------------------------------------------------------------------------*
#	$Id: .htaccess 4413 2012-04-12 14:59:39Z smeyer $                                                    *
#*******************************************************************************************************/

Allow from all