

.calendar {

  .calendar-event
  {
    border-radius:0px!important;
    background-color:@brand-primary!important;
    color:@white!important;
    border-color:@black!important;
    padding:2px!important;
  }

  .fc-state-highlight {
    background-color:@gray-lighter!important;
  }

  .fc-toolbar {
    height:32px;
  }
}

