


@fa-font-path: "../fonts/fontawesome/font";
@peColorHover: #9a9a9a;
@peColorHoverBackground: rgba(154, 154, 154, 0.2);
@peColorBackgroundInactive: #ccc;
@wysiwygOutlineColor: #afafaf;
@wysiwygOutlineColorHover: #7b7b7b;
@green:                     #6cb121;
@btn-primary-bg:            @gray-darker;
@gray-darker:               #bfbfbf;

@peButtonToolbarBackground: #5E696D;
@peButtonToolbarBackgroundHover: #02BAF2;

@border-radius-base:        0px;
@border-radius-small:       0px;
@border-radius-large:       6px;

/* P O R T A L E D I T O R   T O O L B A R */
#peToolbar {

    background: url("../img/navbar-inner-background.png") no-repeat scroll 300px 0 #E5E5E5;
    height: 36px;
    border-bottom: 1px solid #CECECE;

    z-index: 1000;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #575757;
    font-size: 10px;
    white-space: nowrap;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: block !important;
	line-height: 12px;

    .box-shadow(0 1px 4px rgba(0,0,0,.065));

    table {
        height: 36px;
		margin: 0;
		padding: 0;
        border: none;

        td {
            font-family: Verdana, Arial, Helvetica, sans-serif;
            color: #575757;
            font-size: 10px;
            white-space: nowrap;
			padding: 0;
			background-color: transparent;
			border: none;

            a {
                color: #575757;
            }
        }
    }

    .info {
        height: 45px;
        margin-left: 200px;

        td.key {
            padding-right: 5px;
            text-align: right;
        }

        td.value {
            padding-right: 20px;
            text-align: left;
        }
    }

    img {
        border: none;
    }


    //Fontawesome configuration start
    .fa-stack {
        vertical-align: -20%;

        .fa-stack-1x {
            text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        }

        .fa-stack-base-full {
        }
    }

    [class^='fa-']:before, [class*=' fa-']:before, [class^='fa-stack']:before, [class*=' fa-stack']:before  {
        font-size: @font-size-base+4;
    }

    [class*=' fa-stack-1x']:before {
        font-size: @font-size-base - 2;
    }
    //Fontawesome configuration end
}

//push the main content downwards
#peToolbarSpacer {
    clear: both;
    height: 36px;
}



/* P O R T A L E D I T O R   C O N T A I N E R */
.peAddButton, .peElementWrapper,
[data-systemid] {

    &:hover {

        display: block !important;
        //outline: 1px solid @peColorHover !important;
        background: @peColorHoverBackground !important;
        outline: 1px solid @peColorHoverBackground !important;


        *[data-kajona-editable] {
            outline: 1px dotted @wysiwygOutlineColor;
        }


        &[data-element='block'] {
            outline: 2px solid @wysiwygOutlineColor;
        }

    }

    &.peInactiveElement {
        background-color: @peColorBackgroundInactive;
        .opacity(0.5);
    }


    .peActionToolbar {
        position: absolute;
        display: none;
        z-index: 400;

        .peActionToolbarActionContainer {

            background-color: @peButtonToolbarBackground;
            a {
                color: #fff;
                display: inline-block;
                width: 20px;
                text-align: center;
                padding: 5px;
                font-size: 13px;
                font-weight:normal;

                i {
                    font-size: 18px;
                }

                &:hover {
                    background-color: @peButtonToolbarBackgroundHover;
                }
            }
        }

        .peActionToolbarCaretBottom {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-top: 7px solid @peButtonToolbarBackground;
        }

        .peActionToolbarCaretTop {
            width: 0;
            height: 0;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid @peButtonToolbarBackground;
        }
    }

    &:hover {
        > .peActionToolbar {
            display: block;
        }
    }

}

.peAddButton {
    .peActionToolbar {
        .peActionToolbarActionContainer {
            a {
                width: auto;
                display: block;
                text-align: left;
            }
        }
    }
}

/* MOVE / DRAG N DROP */

.peElementMovePlaceholder {
    border: 3px dotted @wysiwygOutlineColor;
    .box-sizing(border-box);
}

.pePlaceholderWrapperDropTarget {
    background-image: repeating-linear-gradient(-45deg, transparent, transparent 8px, rgba(0,0,0,.05) 8px, rgba(0,0,0,.05) 16px);
    min-height: 20px;
}

.peNewButton {
    margin-bottom: 2px !important;
    display: block !important;
    border: none !important;
    width: 22px !important;
    height: 22px !important;
    font-size: 22px !important;
    cursor: pointer;
    color: @btn-primary-bg;
}

.peContextMenu {
    margin: 0px 10px 0;
    background-color: #fff !important;
    border-radius: 0px;
    ul {
        padding: 0;
        list-style: none;
        margin: 0;
        border: 1px solid black;
        background-color: #fff !important;
        a {
            display: block;
            color: #000;
            text-decoration: none;
            padding: 4px;

            &:hover {
                background-color: #cccccc !important;
            }
        }
    }
}


/* WYSIWYG Inline Editor */
body *[data-kajona-editable] {
    &:hover,
    &:focus {
        outline: 1px dotted @wysiwygOutlineColorHover;
    }

    &.peSaving {
        &:after,
        &:before {
            position: absolute;
            right: -20px;
            top: 0;
            transition: all 1s;
            font-family: fontawesome;
        }

        &:after {
            animation: spin 2s infinite linear;
            font-size: @font-size-base + 10;
            content: @fa-var-spinner;
            color: @green;
        }

        &:before {
            padding: 8px 5px;
            font-size: @font-size-base - 2;
            content: @fa-var-check;
            color: grey;
        }
    }

    &.peSaved {
        &:before {
            color: @green;
        }
        &:after {
            opacity: 0;
        }
    }

    &.peFailed {
        &:after,
        &:before {
            color: red;
        }
        &:before {
            font-size: @font-size-base;
            padding: 8px 6px;
            content: @fa-var-exclamation-circle;
        }
        &:after {
            opacity: 0;
        }

        @keyframes shake {
            from, to {
                transform: translate3d(0, 0, 0);
            }

            10%, 30%, 50%, 70%, 90% {
                transform: translate3d(-10px, 0, 0);
            }

            20%, 40%, 60%, 80% {
                transform: translate3d(10px, 0, 0);
            }
        }
        animation: shake 2s ease-in-out;
    }
}


.peLoadingContainer {
    padding: 20px;
    text-align: center;
    overflow: hidden;

    line-height: normal;
    vertical-align: baseline;
    background-image: none;
    background-position: 0% 0%;
    background-repeat: repeat;
    margin-top: 0;

    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;

    &:before {
        font-size: @font-size-base + 10;
        content: @fa-var-spinner;
        color: @green;
        font-family: fontawesome;
    }
}

.loadingContainerBackground {
    position: absolute;
    left: 50%;
    top: 25%;
    z-index: -1;
}

/* DIALOGS / MODALS / BACKDROPS */
.modal {
    text-align: left;

    .modal-content {
        border-radius: 0px;
    }

    iframe {
        border: none;
    }

    .modal-header {
        border: none;
    }

    .modal-body {
        max-height: none;
    }

    .btn-primary {
        color: #fff;
    }
}


/* TOOLTIPS */
.qtip {
    border-radius: 0px !important;
    box-shadow: 0  2px 10px rgba(0,0,0,.2) !important;

    .qtip-content {
        font-family: @font-family-base !important;
        padding: 4px !important;
        line-height: 120%;
        color: #FFFFFF !important;
        font-size: @font-size-base - 3 !important;
    }
}
