
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(../fonts/dosis/dosis-medium.woff) format('woff'),  url(../fonts/dosis/dosis-medium.ttf) format('ttf');
}
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 700;
    src: local('Dosis Bold'), local('Dosis-Bold'), url(../fonts/dosis/dosis-bold.woff) format('woff'),  url(../fonts/dosis/dosis-bold.ttf) format('tff');
}



body {
    padding-top: 70px;
    padding-bottom: 40px;

    &.dialogBody,
    &.portaleditorBody {
        padding: 0;
    }
}

.sidebar-nav {

    background-color: @white;
    border:0px;
    .border-radius(0px);
    .box-shadow(none);
    margin-bottom: 20px;
    min-height: 20px;
    padding:0px;

    text-align:right;
    position:relative;
    top:-10px;

    .btn-navbar {
        display: none;
    }
}


.userNotificationsDropdown {
    margin: 10px 0 0 25px;

    a {
        color:#626262 !important;

        &:hover {
            //TODO: for testing only!
            //color:@green !important;
            //background: none !important;

            color: @white !important;

            i[class^="icon-"] {
                background-image: url(../img/glyphicons-halflings-white.png);
            }

        }

        &.dropdown-toggle:hover {
            text-decoration: underline;
            color: #626262 !important;
        }

    }

    &:hover .dropdown-menu {
        display: block;
    }

    .dropdown-menu {
        .border-radius(0px);

        a {
            i {
                vertical-align: baseline;
            }
        }
    }

    .badge {
        position: absolute;
        top: -6px;
        left: -24px;
        font-style: normal;
    }

}

.generalContextMenu {
    background:none @white !important;
    border: 1px solid @menuBorder !important;
    left: auto !important;
    top: auto !important;

    li::before {
        background: none !important;
    }

    li {
        display: block;
        padding: 0px;
        text-shadow: none;
    }

    a {
        color:#626262 !important;
        text-transform: none;
        padding: 3px 15px;
    }

    a:hover {
        color:@white !important;
    }

    a.dropdown-toggle {
        background:none;
    }

    ul {
        margin: 0px;
    }
}



.gallery .thumbnail .actions {
    opacity: 0;
    @transition: opacity linear .2s;
    .transition(@transition);
}

.gallery .thumbnail:hover .actions {
    opacity: 1;
}

.thumbnails > li {
    margin-left: 30px !important;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    position: fixed;
    background-color: @white;
    border: 1px solid @menuBorder !important;

    li a {
        cursor: pointer;
        padding: 3px 15px;
        display: block;
    }

    li img {
        padding-right: 10px;
    }

    .ui-state-hover {
        color: @white;
        text-decoration: none;
        background-color: @linkColor;
    }

    .ui-state-hover h4 {
        color: @white;
    }

    .ui-autocomplete-category h3 {
        padding-left: 5px;
        clear: both;
    }

    .detailedResults {
        border-top: 1px solid @grayLight;
        margin-top: 10px;
        padding-bottom: 0;

        .ui-state-hover {
            color: @linkColor;
            text-decoration: underline;
            background-color: transparent;
        }
    }

}

.navbar-inner {
    background-repeat: none;
    background:url(../img/navbar-inner-background.png) 300px 0px no-repeat #E5E5E5;
    .border-radius(4px);
    .box-shadow(none);
    min-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#portaleditor {
  border:0px;
		background:none;
		text-transform:uppercase;
	 font-weight:700;
		font-size:@baseFontSize + 4;
		color:#888;
		height:24px;
}

#portaleditor:hover {
  color:darken(#888, 10%);
}

#portaleditor .icon-share {
  height:21px;
		width:23px;
		position:relative;
		top:3px;
		margin-left:7px;
		background:url(../img/portaleditor-arrow.png) left top no-repeat;
}

#icon-user {
  width:18px;
		height:18px;
		background:url(../img/icon-user.png) left top no-repeat;
		margin-right:3px;
}

#badge-info {
  background-color: @green;
}

.navbar-search {
  margin-top:12px;
}

.navbar-search .search-query,
.navbar-search .search-query:focus, .navbar-search .search-query.focused {
  background-color:@white;
		border:none;
		box-shadow:none;
		.border-radius(0px);
		color:#626262;
		text-shadow:none;
		padding: 3px 7px 2px 7px;
		font-size:@baseFontSize - 1;
}

#icon-lupe {
  width:23px;
		height:25px;
		float:right;
		margin-left:1px;
		background:url(../img/icon-lupe.png) left top no-repeat;
}

#languageChooser, #aspectChooser {
  border:none;
		margin-top:12px;
		background:@white;
		height:25px;
}

.breadcrumb {
    background:url(../img/pusteblume.png) right -45px no-repeat @grayDarker;
    border:0px;
    .border-radius(0px);
    .box-shadow(none);
    margin:10px 0 0 0;
    padding: 7px 14px 7px 14px;
    height:19px;

    li.pathentry {
        text-shadow:none;
        color:@white;
        font-weight:700;
        font-size:@baseFontSize;
        text-transform:uppercase;
    }

    li.pathentry a,
    li.pathentry:active a {
        color:@white;
    }

    li.pathentry:first-child a {
        background: url(../img/icon-home.png) 0px 0px no-repeat;
        padding-left: 18px;
        padding-top: 16px;
        .hide-text();
    }

    li.pathentry:before {
        content: '.';
        color: transparent;
        background: url(../img/icon-arrow-right.png) center center no-repeat @grayDarker;
        width: 8px;
        display: inline-block;
        padding: 0 5px;
    }

    li.pathentry:first-child:before {
        display: none;
    }
}

.breadcrumbTop {
    margin: 0px;
    padding: 2px 14px 2px 14px;
}


#content {
    .contentTopbar {
        padding-top: 25px;
    }

    .form-actions {
        background-color:#eeeeee;
        border-color:none;
        .border-radius(0px);
        .box-shadow(none);
        border-style:solid;
        border-width:0px;
        bottom:0;
        margin:0 10px 10px 0;
        padding:10px;
        position:fixed;
        right:0;
    }

    .pagination ul {
        .border-radius(0px);
        .box-shadow(none);
        display: inline-block;
        margin-bottom: 0;
        margin-left: 0;
        background-color:@white;
    }

    .pagination a {
        border-color: #dcdcdc;
        border-style: solid;
        border-width: 1px;
        float: left;
        line-height: 30px;
        padding: 0 10px;
        text-decoration: none;
        color:@grayDark;
        margin:0 3px;
        background-color:@grayLight;
    }

    .pagination .active a {
        color:@green;
    }

    .pagination li:first-child a, .pagination li:last-child a {
        border-left-width: 1px;
        .border-radius(0px);
    }

}

#savechanges, #cancelglobal {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #e5e5e5;
    background-image: none;
    background-repeat: no-repeat;
    border-color: none;
    border-style: solid;
    border-width: 0px;
    .border-radius(0px);
    .box-shadow(none);
    color: #888888;
    cursor: pointer;
    display: block;
    font-size: @baseFontSize + 2;
    line-height: 20px;
    margin-bottom: 0;
    padding: 0px;
    text-align: left;
    text-shadow: none;
    vertical-align: middle;
    font-weight: 700;
    text-transform: uppercase;
    width: 218px;

    &:hover {
        color:@black;
    }

    span.btn-text {
        margin:6px 0 6px 20px;
        display:inline-block;
    }

    span.statusicon {
        width:33px;
        height:33px;
        background-color:#FFFFFF;
        display:inline-block;
        float:right;
        background: center center no-repeat;
    }
}

#cancelglobal {
    margin-top:1px;
    font-size:@baseFontSize;

    span.statusicon {
        background-color:@red;
        background-image:url(../img/icon-cancel.png);
    }

    span.statusicon:hover {
        background-color:darken(@red, 10%);
    }
}

#savechanges {
    span.statusicon {
        background-color:@green;
        background-image:url(../img/icon-save.png);
    }

    span.statusicon:hover {
        background-color:darken(@green, 10%);
    }
}




textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input { //  -moz-transition:none;
    background-color: @grayLighter;
    border: 1px solid @grayDarker;
    .border-radius(0px);
    .box-shadow(none);

    &.mandatoryFormElement {
        .box-shadow(0 0 6px @red+20);
    }
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  color: @gray;
  display: inline-block;
  font-size: @baseFontSize;
  height: 20px;
  line-height: 20px;
  margin-bottom: 9px;
  padding: 4px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
  border-color:@green;
  .box-shadow(0 0 6px @green+20);
  outline: 0 none;
}

select {
    height: 30px;
    padding: 2px 0 2px 8px;
    background: url(../img/form_select.png) no-repeat;
}

label {
  color:@gray;
}



.container-fluid {
  padding-left:0px;
}


.nav {
    .nav-header {
        color: @white;
        background-color:@grayDarker;
        display: block;
        font-size: @baseFontSize + 2;
        font-weight: 700;
        line-height: 20px;
        padding: 6px 15px;
        text-shadow:none;
        text-transform: uppercase;
    }

    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
}

.nav-list > li > a {
    padding: 6px 15px;
    background-color:#e5e5e5;
    margin-bottom:1px;
    font-size:@baseFontSize + 2;
    color:#626262;
    border-color:@green;
    border-style: solid;
    border-width: 0px 0px 0px 10px;
}

.nav-list > .active  a,
.nav-list > .active  a:hover,
.nav > li > a:hover,
.nav > a.dropdown-toggle,
.nav li.open a.dropdown-toggle {
    color:@white;
    text-shadow:none;
    background:url(../img/pusteblume.png) -110px -35px no-repeat @green;
}

.nav .dropdown-menu,
.search-dropdown-menu {
    background-clip: none;
    background:url(../img/pusteblume-submenu.png) right bottom no-repeat @green;
    border:0px;
    .border-radius(0px);
    .box-shadow(none);
    display: none;
    float: left;
    left: 100%;
    list-style: none outside none;
    margin: 1px 0 0;
    min-width: 160px;
    padding: 4px 0;
    position: absolute;
    top: -1px;
    z-index: 1000;
    text-align:left;
    color:@white;

    a {
        clear: both;
        color: @white;
        display: block;
        font-weight: normal;
        font-size:@baseFontSize + 2;
        line-height: 20px;
        padding: 4px 15px;
        white-space: nowrap;
    }

    li > a:hover,
    .active > a,
    .active > a:hover {
        background-color:transparent;
        color: #434343;
        text-decoration: none;
    }
}


.nav-list .divider {
    background-color: @white;
    border-bottom: 0px;
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
}


.progress-danger.progress-striped .bar,
.progress-striped .bar {
  background-color: @green;
}


:focus {
  -moz-outline-style:none;
  outline:medium none;
}

:-moz-any-link:focus {
  outline:medium none;
}

::-moz-selection {
  background-color:@green;
  color:@white;
  text-shadow:none;
}

::selection {
  background-color:@green;
  color:@white;
  text-shadow:none;
}


.treeViewWrapper .jstree-default {
    background-color: #ffffff !important;

    li {
        background-image: none !important;
    }

    ul li {

        a {
            font-family:Dosis, Helvetica, Arial, sans-serif !important;
            font-size:@baseFontSize;
            color: @gray;
            display: inline-block;
            height: auto;
            line-height: inherit;
            margin: 2px 0;
            text-decoration: none;
            white-space: nowrap;
        }
    }

    .jstree-closed > ins {
        background-image: url(../img/icon-tree-sprite_small.png);
        background-position: -40px 0 !important;
        cursor: pointer;
    }

    .jstree-open > ins {
        background-image: url(../img/icon-tree-sprite_small.png);
        background-position: 0px 0 !important;
        cursor: pointer;
    }

    .jstree-hovered {
        background: none;
        border:0px !important;
        color:@green;
        padding: 1px 2px;
    }

    ins {
        margin:0px 0px;
        height: 22px;
        width: 22px;
        background-image: none;
        background-repeat: no-repeat;
    }

}






.thumbnail {
  border: 1px solid #DDDDDD;
  .border-radius(0px);
  .box-shadow(none);
  display: block;
  line-height: 1;
  padding: 4px;
}



/* DASHBOARD */
.dashBoard {
    width: 100%;
    td {
        width: 33%;
        vertical-align: top;

        ul {
            padding: 10px;
        }
    }

    li {
        list-style: none;
    }

    .dbEntry {
        .adminwidgetactions {
            display: inline;
            margin-top: -40px;
        }
    }
}

/* STATUSBOX */
#jsStatusBox {
    z-index: 1050;
}

/* ADMIN TABLE SETUP */

.table {
    td, th {
        padding: 6px;
    }

    &.admintable {

        td.checkbox {
            padding: 0;
        }

        td.image {
        }

        td.listsorthandle, td.treedrag {
            padding: 0;
            vertical-align: middle;

            li {
                margin: 6px;
            }
        }

        td.actions {
            text-align: right;
        }

        td.description {
            padding-top: 0px;
        }
    }

    /* TABLE STRIPING */
    &.table-striped-tbody {

        tbody:nth-child(odd) {
            border-top: 1px solid @tableBorder;
            tr td, tr th {
                background-color: @tableBackgroundAccent;

            }
        }

        tbody:nth-child(even) {
            border-top: 1px solid @tableBorder;
            tr td, tr th {
                background-color: @tableBackground;
            }
        }

        tbody:hover {
            tr td,
            tr th {
                background-color: @tableBackgroundHover;
            }
        }

        td.description {
            border-top: none;
        }
    }

}


/* L O A D I N G   C O N T A I N E R */
.loadingContainer {
    background: url(../img/loading.gif) center no-repeat;
    min-height: 50px;
    min-width: 50px;
}

/* DIALOGS / MODALS / BACKDROPS */
.modal-backdrop,
.modal-backdrop.fade.in {
    .opacity(60);
}

.modal {
    text-align: left;

    iframe {
        border: none;
    }

    .modal-body {
        max-height: none;
    }
}

/* TOOLTIPS */
.ui-tooltip-content {
    font-family: @baseFontFamily !important;
    padding: 4px !important;
    font-size: @baseFontSize - 5 !important;
}

/* UPLOADER */
#uploadContainer {

    .qq-upload-button {
        .btn;
        width: 200px;

        &:hover {

        }
    }

    .qq-upload-drop-area, .qq-upload-extra-drop-area {
        .alert;
        .alert-info;

        width: 90% !important;
    }

    .qq-upload-drop-area-active {
        .alert-success;
    }

    .qq-upload-list {
        .alert-success;

        li {
            background: none;
        }
    }

}